.buy{
    background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
    padding: 31px 0 24px;
    text-align: center;
}

.buy .innerContainer{
    padding: 0 70px;
}

.buy__title{
    font-weight: 700;
    font-size: 37px;
    line-height: 49px;
    color: #11346F;
}

.buy__subTitle{
    position: relative;
    font-weight: 900;
    font-size: 37px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0 auto 57px;
    width: max-content;
    width: -moz-max-content;

}

.buy__subTitle::after{
    position: absolute;
    content: url("../img/buyUnderline.png");
    bottom: -21px;
    left: 37px;
}

.buy__offer{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.buy__item{
    min-width: 368px;
    background: rgba(246, 248, 252, 0.7);
    border: 1.5px solid #197AFF;
    border-radius: 18px;
    padding: 0 10px 24px 18px;
    margin-bottom: 30px;
}

.buy__item.popular{
    background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%)
}

.buy__item.best{
    background: linear-gradient(180deg, #d1e1fc 0%, #c9dcfc 100%)
}

.buy__item .mainImg{
    margin-top: -20px;
    height: 100px;
}

.buy__item.item1 .mainImg{
    margin-bottom: 66px;
}

.buy__item.item2 .mainImg{
    margin-bottom: 24px;
}


.buy__item .label{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 6px 16px;
    width: max-content;
    width: -moz-max-content;
    margin: 0 auto 10px;
}

.buy__item .label.popular{
    background: #57AC73;
}

.buy__item .label.best{
    background: #AC5780;
}

.buy__item .title{
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    color: #11346F;
    margin-bottom: 20px;
}

.buy__item .title span{
    position: relative;
    color: #197AFF;
}

.buy__item .title span::before{
    position: absolute;
    content: url("../img/pricesOldUnderline.png");
    bottom: -10px;
    left: 0;
}

.buy__item .title span::after{
    position: absolute;
    content: url("../img/buyArrow.png");
    top: -77px;
    right: -24px;
}


.buy__item .prices{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 4px;
}

.buy__item .price{
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    color: #11346F;
}

.buy__item .pricesNew{
    margin-right: 23px;
}

.buy__item .pricesOld .price{
    position: relative;
    color: #93A2BB;
}

.buy__item .pricesOld .price::before{
    position: absolute;
    content: '';
    background-color: #647AA0;
    width: 141px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}


.buy__item .shipping{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #11346F;
    margin-bottom: 11px;
}

.buy__item .moneyBack {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 28px 0 36px;
}


.buy__item .moneyBack img{
    margin-right: 8px;
}

.buy__item .moneyBack span{
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #11346F;
}

.buy__item .purpose{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy__item.item2 .purpose{
    margin-bottom: 20px;
}


.buy__item .purpose p{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
    margin-right: 6px;
}

.buy__item .purpose p span{
    color: #11346F;
}

.buy__item.item1 .purpose{
    margin-bottom: 61px;
}

.buy__item .save{
    background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
    border: 1.5px solid #AECCFF;
    border-radius: 18px;
    margin-bottom: 36px;
}

.save__top{
    display: flex;
    justify-content: space-between;
    outline: 1.5px solid #AECCFF;
    border-radius: 19px;

}

.buy__item .save__left, .buy__item .save__right{
    width: 47%;
}

.buy__item .save__left{
    background: #BFF5BE;
    border-radius: 48px;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #11346F;
    padding: 9px 13px 8px 18px;
}

.buy__item.item2 .moneyBack{
    margin: 3px 8px 5px -32px;
}

.buy__item .save__bottom{
    font-weight: 800;
    font-size: 13px;
    line-height: 17px;
    color: #11346F;
    padding: 14px 53px 14px 77px;
}


.buy__item .getPurpose{
    background: #197AFF;
    box-shadow: 0 7px 14px rgba(25, 122, 255, 0.5);
    border-radius: 60px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 87px 14px 81px;
    margin-bottom: 21px;
}


.buy__item .partners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;
    padding: 0 20px;
}