.faq{
    background-color: #11346F;
    padding: 38px 0 69px;
}
.faq .innerContainer{
    padding: 0 128px 0 100px;
}

.faq__title{
    font-weight: 500;
    font-size: 37px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 67px;
}

.faq__title span{
    font-weight: 700;
    position: relative;
}

.faq__title span::before{
    position: absolute;
    content: url("../img/faqUnderline.png");
    bottom: -22px;
    left: -19px;
}

.faq__title span{
    font-weight: 700;
    position: relative;
}


.faq__container{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.faq__left{
    margin-right: 85px;
}

.faq__item{
    background: #11346F;
    border: 1px solid #31548E;
    border-radius: 9px;
    width: 652px;
    margin-bottom: 15px;
}

.faq__items.hiddenQuestions .faq__item.hidden{
    display: none;
}

.faq__question{
    position: relative;
    background: #194081;
    border: 1px solid #31548E;
    border-radius: 9px 9px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 20px 60px 19px 30px;
    cursor: pointer;
}

.faq__question::after{
    position: absolute;
    content: url("../img/openIcon.png");
    top: 21px;
    right: 36px;
    transition-duration: .3s;
}

.faq__item.closed .faq__question::after{
    transition-duration: .3s;
    transform:rotate(-180deg);
}



.faq__answer{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #AECCFF;
    padding: 22px 0 19px 30px;
    transition-duration: .3s;
}

.faq__item.closed .faq__answer{
    height: 0;
    padding: 0;
    transform: scale(0);
    transition-duration: .3s;
}

.faq__showAll{
    cursor: pointer;
    width: max-content;
    width: -moz-max-content;
}

.faq__showAll span{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F6F8FC;
    margin-right: 12px;
}

.faq__showAll img{
    transition-duration: .3s;
}

.faq__showAll img.opened{
    transform: rotate(-180deg);
    transition-duration: .3s;
}

.faq__showAll span{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #F6F8FC;
    margin-right: 12px;
}