.testimonial{
    padding: 50px 102px 52px 102px;
    background-color: #F6F8FC;
}

.testimonial__title{
    text-align: center;
    font-weight: 700;
    font-size: 37px;
    line-height: 49px;
    color: #11346F;
    margin-bottom: 52px;
}

.testimonial__title span{
    color: #337dfd;
}

.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 22px;
}

.reviews__left{
    display: flex;
}

.reviews__left{
    display: flex;
}

.reviews__star{
    margin-right: 29px;
}

.reviews__left p{
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #11346F;
}


.reviews__right a{
    border: 1px solid #213786;
    border-radius: 5px;
    padding: 5px 19px 4px 12px;
    font-weight: 600;
    font-size: 14px;
    color: #3A3075;
    margin-right: 9px;
}

.reviews__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    column-gap: 30px;
}

.reviews__item{
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
}

.customer__image{
    margin-bottom: 4px;
    min-width: 100%;
}

.reviews__customer{
    display: flex;
    align-items: start;
    padding: 0 10px;
    margin-bottom: 8px;
}

.reviews__customerLeft{
    margin-right: 35px;
}

.customer__name{
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #11346F;
}

.person__verified{
    display: flex;
    align-items: center;
}

.person__verified img{
    margin-right: 10px;
}

.person__verified span{
    font-weight: 800;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #89C25F;
}

.reviews__text{
    font-weight: 600;
    font-size: 11px;
    line-height: 26px;
    color: #262626;
    padding: 0 25px 12px 17px;
}